{% extends "main.html" %}
{% load static %}
{% load my_filters %}
{% block content %}
  <link rel="stylesheet" href="{% static "css/chat.css" %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <div class="container w-100 mt-2 sticky-top">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-header">Chat with {{ request.user.partner }}</div>
          <div id="scrollable" class="card-body scrollable">
            {% for message in conversation %}
              {% if message.user == request.user.partner %}
                <div class="media mb-1 d-flex">
                  <div class="img-fluid">
                    <img class="me-2 mt-1 chat-user-profile" src="{{ message.user.avatar.url }}" alt="">
                  </div>
                  <div class="media-body pe-5">
                    <div class="alert alert-success message" role="alert">
                      <span>{{ message.content }}</span>
                      <small class="small text-muted position-absolute bottom-0 end-0 pe-2 pt-5">{{ message.time|date:"h:i A" }}</small>
                    </div>
                  </div>
                </div>
              {% endif %}
              {% if message.user == request.user %}
                <div class="media mb-1 justify-content-end d-flex">
                  <div class="media-body text-right ps-5">
                    <div class="alert alert-primary message" role="alert">
                      <span>{{ message.content }}</span>
                      <small class="small text-muted position-absolute bottom-0 end-0 pe-2 pt-5">{{ message.time|date:"h:i A" }}</small>
                    </div>
                  </div>
                  <div class="img-fluid">
                    <img class="ms-2 mt-1 chat-user-profile" src="{{ request.user.avatar.url }}" alt="">
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <div class="card-footer">
            <form id="form">
              <div class="input-group">
                <input type="text" name="message" class="form-control" placeholder="Type your message" autofocus autocomplete="off">
                <div class="input-group-append">
                  <button class="btn btn-primary ms-2" type="submit"><i class="bi bi-send"></i></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
{% block scripts %}
  <script>
    {{ request.user.email|js_var:'user' }}
    {{ request.user.partner.email|js_var:'partner' }}
    {{ request.user.avatar.url|js_var:'user_avatar' }}
    {{ request.user.partner.avatar.url|js_var:'partner_avatar' }}
    {{ ws|js_var:'ws' }}
  </script>
  <script src="{% static "js/chat.js" %}"></script>
{% endblock scripts %}
