{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="container d-flex justify-content-center min-vh-100">
  <div class="row align-items-center">
    <div class="col-md-6 offset-md-3">
      <div class="text-center">
        <img class="w-50 mb-5" src="{% static 'written.png' %}" alt="">
      </div>
      <div class="card">
        <div class="card-header">Register</div>
        <div class="card-body">
          <form action="." method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="first_name">First Name</label>
              <input type="text" name="first_name" class="form-control" id="first_name" placeholder="Enter your first name" required>
            </div>
            <div class="form-group mt-3">
              <label for="last_name">Last Name</label>
              <input type="text" name="last_name" class="form-control" id="last_name" placeholder="Enter your last name" required>
            </div>
            <div class="form-group mt-3">
              <label for="email">Email</label>
              <input type="email" name="email" class="form-control" id="email" placeholder="Enter your email" required>
            </div>
            <div class="form-group mt-3">
              <label for="gender">Gender</label>
              <select name="gender" class="form-control" id="gender" required>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
            </div>
            <div class="form-group mt-3">
              <label for="password">Password</label>
              <input type="password" name="password" class="form-control" id="password" placeholder="Enter your password" required>
            </div>
            <div class="form-group mt-3">
              <label for="confirm_password">Confirm Password</label>
              <input type="password" name="confirm" class="form-control" id="confirm_password" placeholder="Confirm your password" required>
              <input type="hidden" name="next" value="{{ request.GET.next }}">
            </div>
            <div class="text-center mt-3">
              <button type="submit" class="btn btn-primary btn-lg">Register</button>
            </div>
            <input type="hidden" name="next" value="{{ request.GET.next }}">
          </form>
        </div>
      </div>
      <hr>
      <div class="text-center"></div>
      <p class="text-center">
        Already have an account? <a href="#"  onclick="handleRegisterClick()">Login</a>.
      </p>
    </div>
  </div>
</div>

{% endblock content %}
{% block scripts %}
  <script>
      function handleRegisterClick() {
          const queryParams = new URLSearchParams(window.location.search);
          const nextParam = queryParams.get('next');
          if (nextParam) {
              window.location.href = '{% url 'login' %}?next=' + nextParam
          } else {
              window.location.href = '{% url 'login' %}'
          }
      }
  </script>
{% endblock scripts %}
