{% extends 'main.html' %}
{% load static %}
{% block content %}
  <div class="container d-flex justify-content-center min-vh-100 pb-5">
    <div class="row align-items-center w-100 mb-5 pb-5">
      <div class="col-md-6 offset-md-3">
        <div class="text-center">
          <img class="w-50 mb-5" src="{% static 'written.png' %}" alt="caelia">
        </div>
        <div class="card">
          <div class="card-header">
            <h4 class="text-center">Invite Your Partner</h4>
          </div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <label for="invitation-link">Your Invitation Link:</label>
                <input type="text" class="form-control" id="invitation-link" value="https://caelium.jerit.in/invitation/{{ code }}/" readonly>
              </div>
              <div class="form-group text-center">
                <a class="btn btn-primary my-2" onclick="copyLink()">Copy Link</a>
              </div>
            </form>
            <div class="alert alert-info d-none" id="copy-alert">Invitation link copied to clipboard!</div>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
{% endblock content %}
{% block scripts %}
  <script>
      function copyLink() {
          var linkInput = document.getElementById("invitation-link");
          linkInput.select();
          linkInput.setSelectionRange(0, 99999); 
          document.execCommand("copy");
          var copyAlert = document.getElementById("copy-alert");
          copyAlert.classList.remove("d-none"); 
          setTimeout(function() {
              copyAlert.classList.add("d-none");
          }, 1000);
      }
  </script>
{% endblock scripts %}
invitation