{% extends 'main.html' %}
{% load static %}
{% block content %}
  <div class="container d-flex justify-content-center min-vh-100">
    <div class="row align-items-center w-100">
      <div class="col-md-6 offset-md-3 text-center">
        <img class="w-50 mb-5" src="{% static 'written.png' %}" alt="caelia">
        <h1>Welcome to Caelium</h1>
        <p>Your space for connecting and planning your future together.</p>
        <div class="text-center">
          <a href="{% url 'register' %}" class="btn btn-primary w-25">Sign Up</a>
          <a href="{% url 'login' %}" class="btn btn-primary w-25">Log In</a>
        </div>
        <hr>
        <div class="text-center">
          <button id="installButton" class="btn btn-dark btn-lg">Install Now</button>
        </div>
        <hr id="installHr">
        <p>
          For support, <a href="#">contact us</a>.
        </p>
      </div>
    </div>
  </div>
{% endblock content %}
{% block scripts %}
  <script>
    const installButton = document.getElementById('installButton');
    var deferredPrompt
    if ('BeforeInstallPromptEvent' in window) {
      window.addEventListener('beforeinstallprompt', (event) => {
        event.preventDefault();
        deferredPrompt = event;
      });
    }
    if(window.matchMedia('(display-mode: standalone)').matches) {
      installButton.classList.add('d-none')
      document.getElementById('installHr').classList.add('d-none')
    }
    installButton.addEventListener('click', () => {
          deferredPrompt.prompt();
          deferredPrompt.userChoice.then((choiceResult) => {
            if (choiceResult.outcome === 'accepted') {
              console.log('User accepted the PWA installation');
            } else {
              console.log('User declined the PWA installation');
            }
          });
        });
  </script>
{% endblock scripts %}
